{% extends "ajax/ajax.html.twig" %}
{% block ajax %}
    {% embed "ajax/admin/users/footer.html.twig" %}{% endembed %}
    <div class="row">
        <div class="cell rw-12">
            {% embed "ajax/admin/users/listing_tabs.html.twig" %}{% endembed %}
            <h5>{{'Multi-Account Report'|trans({}, "admin")}}</h5>
            <div class="row-table">
                <div class="row header">
                    <div class="cell padded rw-4 rw-md-0 center">{{ 'Benutzername'|trans({},'admin') }}</div>
                    <div class="cell padded rw-2 rw-md-12">{{ 'Verdacht'|trans({},'admin') }}</div>
                    <div class="cell padded rw-6 rw-md-0">{{ 'Andere Accounts'|trans({},'admin') }}</div>
                </div>
                {% for table in ma_report %}
                    {% if not table.principal|restricted(constant('App\\Entity\\AccountRestriction::RestrictionGameplay')) %}
                    {# @var table \App\Structures\CheatTable #}
                        <div class="row">
                            <div class="cell rw-4 rw-md-9 padded">
                                <b>{{ table.principal.name }}</b>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <br /><span>{{ table.principal.email }}</span>
                                {% endif %}
                            </div>
                            <div class="cell rw-2 rw-md-3 padded">
                                {{ table.likeliness }}
                            </div>
                            <div class="cell rw-md-12 {% if is_granted('ROLE_ADMIN') %}rw-5{% else %}rw-6{% endif %}">
                                {% set group = [] %}
                                {% for multi in table.users %}
                                    {% set group = group|merge([multi.id]) %}
                                    <span class="small pointer" x-whitelist-alt="{{ url('admin_users_account_view', {id: multi.id}) }}" x-whitelist="{{ group|join('|') }}" x-api-endpoint="{{ url('admin_users_account_manage', {action: 'whitelist', id: table.principal.id}) }}" {% if multi|restricted(constant('App\\Entity\\AccountRestriction::RestrictionGameplay')) %}style="color:red; font-weight: bold"{% endif%} >
                                        {{ multi.name }}
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <div class="tooltip">
                                                <i>({{ multi.id }})</i> <b>{{ multi.email }}</b>
                                                <hr/>
                                                <i>{{ 'Klick, um Profil in neuem Tab zu öffnen'|trans({},'admin') }}</i>
                                                <hr/>
                                                <i>{{ 'STRG+Klick, um zur Whitelist hinzuzufügen'|trans({},'admin') }}</i>
                                            </div>
                                        {% endif %}
                                    </span>&nbsp;
                                {% endfor %}
                            </div>
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="cell rw-1 rw-md-12 padded">
                                    <button x-shadow x-api-endpoint="{{ url('admin_users_account_manage', {action: 'shadow',    id: table.principal.id}) }}"><div class="tooltip">{{ 'Bann'|trans({},'admin') }}</div><i class="fa fa-hammer hide-desktop"></i> <span class="hide-lg">{{ 'Bann'|trans({},'admin') }}</span></button>
                                    <button x-whitelist="{{ group|join('|') }}" x-api-endpoint="{{ url('admin_users_account_manage', {action: 'whitelist', id: table.principal.id}) }}"><div class="tooltip">{{ 'Whitelist'|trans({},'admin') }}</div><i class="fa fa-clipboard-check hide-desktop"></i> <span class="hide-lg">{{ 'Whitelist'|trans({},'admin') }}</span></button>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        {% if is_granted("ROLE_ADMIN") %}
            $.html.addEventListenerAll('[x-shadow][x-api-endpoint]', 'click', function(e,elem) {
                if (confirm("{{ 'Bestätigen?'|trans({},'global')|e('js') }}\nBAN"))
                    $.ajax.easySend( elem.getAttribute('x-api-endpoint'), {param: 'Multi Account'},
                        function () {
                            $.ajax.load(null, '{{ path('admin_users') }}', true);
                        } );
            });
        $.html.addEventListenerAll('[x-whitelist][x-api-endpoint]', 'click', function(e,elem) {
            if ((!elem.hasAttribute('x-whitelist-alt') || e.ctrlKey) && confirm("{{ 'Bestätigen?'|trans({},'global')|e('js') }}\nWHITELIST"))
                $.ajax.easySend( elem.getAttribute('x-api-endpoint'), {param: elem.getAttribute('x-whitelist').split('|')},
                    function () {
                        $.ajax.load(null, '{{ path('admin_users') }}', true);
                    } );
        });
        $.html.addEventListenerAll('[x-whitelist][x-whitelist-alt][x-api-endpoint]', 'click', function(e,elem) {
            if (!e.ctrlKey) window.open(elem.getAttribute('x-whitelist-alt'),'_blank');
        });
        {% endif %}
    </script>
{% endblock %}